In [1]:
import sqlite3
from datetime import datetime

print(sqlite3.sqlite_version) # SQLite 버전 확인
print(datetime.now()) # 현재 시간 날짜

3.45.1
2024-05-20 09:44:23.071038

In [2]:
now =datetime.now()
now.strftime("%Y-%m-%d, %H:%M:%S")

'2024-05-20, 09:46:24'

In [3]:
# database 생성
# isolation_level : autocommit 여부

conn = sqlite3.connect("./database/test.db",isolation_level=None)

In [4]:
# 커서(cursor) : DB 를 가르키는 포인터 같은 역할

cursor = conn.cursor()

# 테이블 생성구문 SQLite 로 확인 가능 (파일 => 데이터베이스 열기 => test.db)
# 숫자 : integer 타입, 문자 : text 타입
cursor.execute("CREATE TABLE IF NOT EXISTS users(id integer primary key, username text, email text, phone text, website text, regdate text)")

In [5]:
# 데이터 삽입
now = datetime.now()
now_date_time = now.strftime("%Y-%m-%d, %H:%M:%S")

cursor.execute("INSERT INTO users(id, username, email, phone, website, regdate) VALUES(1, 'Kim', 'Kim@naver.com', '010-1234-1234', 'kim.com',?)",(now_date_time,))

In [7]:
now = datetime.now()
now_date_time = now.strftime("%Y-%m-%d, %H:%M:%S")

cursor.execute("INSERT INTO users(id, username, email, phone, website, regdate) "
               "VALUES(?,?,?,?,?,?)", (2, 'Park', 'Park@naver.com', '010-1234-4567', 'Park.com',now_date_time))

In [8]:
# 여러개 삽입

now = datetime.now()
now_date_time = now.strftime("%Y-%m-%d, %H:%M:%S")

userList = (
    (3, 'Lee', 'Lee@naver.com', '010-1234-4567', 'Lee.com',now_date_time),
    (4, 'Choi', 'Choi@naver.com', '010-1234-4567', 'Choi.com',now_date_time),
    (5, 'Yoo', 'Yoo@naver.com', '010-1234-4567', 'Yoo.com',now_date_time)
)

cursor.executemany("INSERT INTO users(id, username, email, phone, website, regdate) VALUES(?,?,?,?,?,?)", userList)

In [13]:
# 데이터 조회
# 커서가 users 를 가르키게 됨
cursor.execute("SELECT * FROM users")

In [14]:
cursor.fetchone()

(1, 'Kim', 'Kim@naver.com', '010-1234-1234', 'kim.com', '2024-05-20, 10:00:21')

In [15]:
cursor.fetchmany(size=3)

[(2,
  'Park',
  'Park@naver.com',
  '010-1234-4567',
  'Park.com',
  '2024-05-20, 10:04:14'),
 (3,
  'Lee',
  'Lee@naver.com',
  '010-1234-4567',
  'Lee.com',
  '2024-05-20, 10:06:33'),
 (4,
  'Choi',
  'Choi@naver.com',
  '010-1234-4567',
  'Choi.com',
  '2024-05-20, 10:06:33')]

In [17]:
cursor.fetchall()

[]

In [18]:
cursor.execute("SELECT * FROM users")
for c in cursor.fetchall():
    print(c)

(1, 'Kim', 'Kim@naver.com', '010-1234-1234', 'kim.com', '2024-05-20, 10:00:21')
(2, 'Park', 'Park@naver.com', '010-1234-4567', 'Park.com', '2024-05-20, 10:04:14')
(3, 'Lee', 'Lee@naver.com', '010-1234-4567', 'Lee.com', '2024-05-20, 10:06:33')
(4, 'Choi', 'Choi@naver.com', '010-1234-4567', 'Choi.com', '2024-05-20, 10:06:33')
(5, 'Yoo', 'Yoo@naver.com', '010-1234-4567', 'Yoo.com', '2024-05-20, 10:06:33')

In [19]:
cursor.execute("SELECT * FROM users ORDER BY id DESC")
for c in cursor.fetchall():
    print(c)

(5, 'Yoo', 'Yoo@naver.com', '010-1234-4567', 'Yoo.com', '2024-05-20, 10:06:33')
(4, 'Choi', 'Choi@naver.com', '010-1234-4567', 'Choi.com', '2024-05-20, 10:06:33')
(3, 'Lee', 'Lee@naver.com', '010-1234-4567', 'Lee.com', '2024-05-20, 10:06:33')
(2, 'Park', 'Park@naver.com', '010-1234-4567', 'Park.com', '2024-05-20, 10:04:14')
(1, 'Kim', 'Kim@naver.com', '010-1234-1234', 'kim.com', '2024-05-20, 10:00:21')

In [20]:
cursor.execute("SELECT * FROM users WHERE id=3")
cursor.fetchone()

(3, 'Lee', 'Lee@naver.com', '010-1234-4567', 'Lee.com', '2024-05-20, 10:06:33')

In [21]:
param = (4,)
cursor.execute("SELECT * FROM users WHERE id=?",param)
cursor.fetchone()

(4,
 'Choi',
 'Choi@naver.com',
 '010-1234-4567',
 'Choi.com',
 '2024-05-20, 10:06:33')

In [22]:
param = 2
cursor.execute("SELECT * FROM users WHERE id=%s" % param)
cursor.fetchone()

(2,
 'Park',
 'Park@naver.com',
 '010-1234-4567',
 'Park.com',
 '2024-05-20, 10:04:14')

In [23]:
cursor.execute("SELECT * FROM users WHERE id = :id", {"id":5})
cursor.fetchone()

(5, 'Yoo', 'Yoo@naver.com', '010-1234-4567', 'Yoo.com', '2024-05-20, 10:06:33')

In [24]:
param = (2,4)
cursor.execute("SELECT * FROM users WHERE id IN (?,?)",param)
cursor.fetchmany(size=2)

[(2,
  'Park',
  'Park@naver.com',
  '010-1234-4567',
  'Park.com',
  '2024-05-20, 10:04:14'),
 (4,
  'Choi',
  'Choi@naver.com',
  '010-1234-4567',
  'Choi.com',
  '2024-05-20, 10:06:33')]

In [25]:
# 데이터 수정
# id = 2 인 사용자의 핸드폰 번호 변경

param = ("010-7890-1258",2)
cursor.execute("UPDATE users SET phone = ? WHERE id = ?",param)
conn.commit() # isolation_level=None : 오토커밋을 안해놔서 커밋을 해준다

In [26]:
# 데이터 삭제

cursor.execute("DELETE FROM users WHERE id = ?", (2,))
conn.commit()

In [27]:
# rowcount : 삭제된 행의 수 리턴
print(cursor.execute("DELETE FROM users").rowcount)
conn.commit()

4

In [28]:
import random
import time

In [33]:
# word.txt 단어를 읽은 후 리스트에 추가하기
words = []
with open("./resource/word.txt","r") as f:
    for w in f:
        # print(w, end="")
        words.append(w.strip())

In [45]:
input("Ready? press enter key")
start = time.time() # 시작시간
n = 1 # 시도횟수
cor_cnt = 0 # 정답개수

while n <= 5:
    # 리스트 요소 임의로 섞기
    # key = random.sample(words,k=1)
    random.shuffle(words)

    # 무작위로 하나만 추출
    q = random.choice(words)

    # 추출한 요소 보여주기
    print(f"Question #{n}")
    print(q)

    # 사용자로부터 타이핑 입력받기
    # str1 = input(f"{key} 를 따라서 입력하시오.")
    answer = input()
    # 추출된 요소 == 타이핑 값(정확히 타자 친 개수에 추가)
    # if key == str1:
    #     a += 1
    if str(q).strip() == str(answer).strip():
        print("Pass !!!")
        cor_cnt += 1 # 정답개수 추가
    else:
        print("Wrong !!!")
    n += 1 # 시도횟수 추가

# 끝난시간
end = time.time()

# 걸린시간 과 정답개수 출력
time1 = end - start
print(f"걸린시간 : {time1}초 , 정답개수 : {cor_cnt}개")

# 정답개수가 4개이상인 경우 합격, 불합격
if cor_cnt >= 4:
    print("합격")
else:
    print("불합격")

# 테이블에 저장 (test.db)
# 테이블명 records
# 컬럼명 정답개수, 걸린시간, 날짜
conn = sqlite3.connect("./database/test.db",isolation_level=None)
cursor.execute("CREATE TABLE IF NOT EXISTS records(cor_cnt integer, record text, regdate text)")

now = datetime.now()
now_date_time = now.strftime("%Y-%m-%d %H:%M:%S")

cursor.execute("INSERT INTO records(cor_cnt, record, regdate) "
               "VALUES(?,?,?)", (cor_cnt,time1,now_date_time))

Question #1
wv
Pass !!!
Question #2
sites
Pass !!!
Question #3
unlikely
Pass !!!
Question #4
moreover
Pass !!!
Question #5
connections
Wrong !!!
걸린시간 : 16.807838439941406초 , 정답개수 : 4개
합격